.patched-up-form { 
	max-width: 600px;
}

.patched-up-form h2 {
	float:left;
	margin-bottom: 15px;
}

.patched-up-form .button.top {
	float: right;
	margin-top: 10px;
}

.patched-up-form td {
	min-width: 400px;
}

textarea.code {
	width: 400px; height: 200px;
}

#edit-dashboard img.preview {
	float: left;
	max-width: 400px;
	margin: 5px 0;
}

.uploader input[type="text"] {
	width: 325px; height: 28px;
}

#edit-dashboard p.description {
	font-size: 13px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



/* jQuery Tabs */
.ui-tabs {
	clear: both;
}
.ui-tabs-nav {
	border-bottom: 1px solid #ccc;
	height: 39px;
	margin: 20px 0 0;
	padding: 0;
}

.ui-tabs-nav li {
	display: block;
	float: left;
	margin: 0;
}

.ui-tabs-nav li a {
	padding: 6px 20px;
	font-weight: bold;
	border-style: solid;
	border-color: #CCC #CCC #fff;
	border-width: 1px 1px 0;
	outline: none;
	color: #C1C1C1;
	text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
	display: inline-block;
	padding: 10px 14px; 
	text-decoration: none;
	margin: 0 10px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-nav li.ui-state-active a {
	border-width: 1px;
	color: #464646;
	background: #fff;
}

.ui-tabs-panel {
	clear: both;
	padding: 10px;
	border-style: solid;
	border-color: #CCC; 
	border-width: 0 1px 1px 1px;
	background: #fff;
}

.ui-tabs-panel h3 {
	font: italic normal normal 24px/29px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	margin: 0;
	padding: 0 0 5px;
	line-height: 35px;
	text-shadow: 0 1px 0 #fff;
}

.ui-tabs-panel h4 {
	font-size: 15px;
	font-weight: bold;
	margin: 1em 0;
}

.wrap h3, .wrap table {
	display: none;
}
